{% if nginx_upstream_server is defined %}
upstream app_server {
    server {{ nginx_upstream_server }}:{{ nginx_upstream_port }} fail_timeout=10 max_fails=3 ;
}
{% endif %}

server {
    listen       {{ nginx_http_port }} {% if nginx_default_server %}default_server{% endif %};
    server_name  {{ nginx_server_name }};

    #charset koi8-r;
    #access_log  /var/log/nginx/log/host.access.log  main;

    location / {

        {% if nginx_upstream_server is defined %}

            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Host $http_host;
            proxy_redirect off;
            proxy_set_header X-Real-IP $remote_addr;

            if (!-f $request_filename) {
                proxy_pass http://app_server;
                break;
            }

        {% else %}

            root   /usr/share/nginx/html;
            index  index.html index.htm;

        {% endif %}
        
    }
}

